html
	head
		title C.H.I.P - GPIO
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
		script(src="/socket.io/socket.io.js")
	body.row
		nav.blue-grey.darken-4
			ul.right
				li
					a(href="/") Home
				li
					a(href="#") G.P.I.O
				li
					a(href="camera") Camera
				li
					a(href="#file") File
				li
					a(hreF="setup") Setup
		#file.modal.bottom-sheet
			.modal-content
				h4 Upload file
				.file-field.input-field
					.btn
						span File
						input(type="file")
					.file-path-wrapper
						input.file-path.validate(type="text")
			.modal-footer
				a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK
		br
		.collection.pins-switches.col.s10.offset-s1
			h4 Switchs G.P.I.O
			.divider
			table.centered
				thead
					tr
						th Pin
						th Off/On
						th Input/Output
						th State
				tbody
					each pin in ["GPIO-0", "GPIO-1","GPIO-2","GPIO-3","GPIO-4","GPIO-5", "GPIO-6","GPIO-7"]
						tr(class=pin)
							td #{pin}
							td
								.switch
									label
										|
										input.state(class=pin,type="checkbox")
										span.lever
										|
							td.input-field
								select.io(class=pin)
									option(value="0") Input
									option(value="1", selected="") Output
								label 
							td
								p(class=pin) Off
			p.red-text *GPIO-X is equivalent to XIO-X*
		script(type="text/javascript").
			$('.modal').modal();
			$('select').material_select();
			$('select.io').change(function(){
				let select = $($(this)[0]);
				let pin = GPIO(select);
				let value = $(this).val();
				if(value == "0"){
					$('input.'+pin).prop('disabled', true);
				}else{
					$('input.'+pin).prop('disabled', false);
				}
			});
			$('input.state').change(function(){
				let cb = $($(this)[0]);
				let pin_complete = GPIO(cb);
				let pin = pin_complete.split('-')[1];
				let value = (cb.prop('checked') == true) ? 1 : 0;
				let io = $('select.io.'+pin_complete)[0].value;
				if(io == ""){
					return null;
				}
				let fio = (io == "1") ? "out": "in";
				let url = "api/gpio/" + pin + "/" + fio +"/" + value;
				$.ajax({
					url: url,
					method: "POST"
				});
			});

			function GPIO(obj){
				return obj[0].className.split(" ")[1];
			}